


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Josefin+Sans:ital,wght@1,100&family=Playfair+Display&display=swap');


body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C06C84;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
